/* Ini adalah file css saya */
.akmal {
    color:maroon; 
    font-size: 40px;
}

.neko {
    color:darkorange;
    font-size: 40px;
}

p {
    color: darkgrey;
    font-size: 24px;
}

img {
    width: 500px;
    margin: auto;
}




